/*  
*{
    box-sizing: border-box;
}
*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #c0c2ff;
}
/*-------------------------------- Header ----------------------------------------------------- */
header {
  margin: 0;
  background-color: #656cef;
  padding: 15px;
  align-items: center;
  display: flex;
  color: black;
}
.user_img {
  padding-left: 80%;
}

header img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

header .header-text {
  font-size: 26px;
  font-family: "Press Start 2P", cursive;
  text-decoration: underline;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #656cef;
  color: rgb(0, 0, 0);
}
/*--------------------------- Codigos Imagem do centro ------------------------------------ */

.img_center {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 0px;
}
.container {
  width: 100%;
}

/*-------------------------- Recomendação ChatGpt demostração jogos ------------------- */

.linha-jogos {
  display: flex; /* Organiza horizontalmente */
  gap: 60px; /* Espaçamento entre as imagens */
  justify-content: flex-start; /* Centraliza as imagens na linha */
  margin-bottom: 100px; /* Espaçamento entre as linhas */
}

/* Estilo para cada card de jogo */
#canto1 {
  border-radius: 25px;
  background: #656cef;
  padding: 10px;
  padding-left: 10px;
  width: 50vw;
  height: 45vh;
  box-shadow: 0px 3px 3px 0px;
  display: flex;
  justify-content: flex;
  align-items: flex-start;
}

#canto1 img {
  height: 24vh;
  border-radius: 10px; /* Dá bordas arredondadas às imagens */
}
h1 {
  font-family: "Space Mono", serif;
  font-weight: bolder;
  font-style: normal;
  color: black;
  padding: auto;
}

a {
  font-family: "Space Mono", serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}
.img_games {
  display: block;
  width: 40vw;
  max-width: 100%;
  height: 60vh;
  margin: 0px;
}
/* --------------------------------Font---------------------------- */
.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 700;
  font-style: normal;
}
